.main {
  .text {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    padding: 1.5rem 0;
    text-align: center;
  }

  h1 {
    font-size: 60px;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }

  h4 {
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 5px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 960px) {
  .main {
    .container {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      background: rgba(255, 255, 255, 0.1);
    }
    .text {
      background: none;
    }
  }
}
