.main {
  background: #55a331;
  padding: 2rem;
  text-align: center;
  color: white;

  &.no {
    background: #7a0026;
  }

  h1 {
    font-size: 60px;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
}
