.collapsible {
  display: block;
  padding: 0.4rem 0;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  background-color: #363636;

  .title {
    cursor: pointer;

    &.open {
      color: #00bfff;
    }

    &:focus {
      outline: none;
    }
  }
}
