.header {
  margin-top: 0.5rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 35px;
    height: auto;
    line-height: 0;
    margin-right: 10px;
    svg {
      fill: #f9f1f1;
    }
  }

  h1 {
    font-size: 18pt;
    font-weight: 400;
    margin: 0;
  }

  .link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #f9f1f1;
    text-decoration: none;
  }
}

@media screen and (max-width: 960px) {
  .header .link {
    justify-content: center;
  }
  .container {
    flex-direction: column;
  }
}
