html																															{ background: #252525 url(images/bg.png); color: #c2c2c2; font-size: 1em; font-family: 'Open Sans', sans-serif; }
header																														{ background: #3b6e22; color: #ffffff; text-transform: uppercase; font-size: 1.75em; }
	header h1																													{ background: url(images/logo.gif) no-repeat 0 0; height: 57px; text-indent: -9999px; }	
	
section#main																													{ padding: 20px; text-align: center; color: #ffffff; }	
	h3#carwash																												{ font-size: 5em; line-height: 1.2em; }
		.yes																												{ background-color: #55a331; }	
		.no																													{ background-color: #7a0026; }
	#details																												{ font-style: italic; font-size: 0.75em; }

section h2.expand																												{ color: #ffffff; background: #363636; }	
	.expand a																												{ color: #ffffff; text-decoration: none; display: block; padding: 20px; }

#forecast, #moreinfo, #nearby																								{ display: none; }
section div																													{ position: relative; display: none; }
	
section table																													{ width: 100%; }
	section table td, section table th																								{ padding: 10px; background-color: #202020; }
	section table th																											{ font-weight: bold; background-color: #1b1b1b; }
	
#about span a	, #nearby span a																									{ display: block; padding: 10px; color: #ffffff; text-decoration: none; }
#about p																														{ display: block; padding: 10px; }

@media (-webkit-min-device-pixel-ratio: 2) {
	header h1																													{ background: url(images/logo@2x.gif) no-repeat center 0; background-size: auto 57px; }
}