.weather-forecast {
  flex: 1;
  margin-bottom: 1rem;

  h4 {
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  .five-day-forecast {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 960px) {
  .weather-forecast .container {
    h4 {
      margin: 0.5rem 1rem;
    }
    .five-day-forecast {
      justify-content: space-between;
    }
  }
}
