.weather-forecast {
  flex: 1;
  margin-bottom: 1rem;

  h4 {
    font-weight: 400;
    margin: 0.8rem 0;
  }

  .five-day-forecast {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 960px) {
  .weather-forecast .container {
    .five-day-forecast {
      justify-content: space-between;
    }
  }
}
