.current-weather {
  h4 {
    font-weight: 400;
    margin-bottom: 0.5rem;
  }
  .weather-details {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;

    .left {
      font-size: 60px;
      font-weight: 100;
      padding: 10px 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .temp-and-description {
        padding-left: 15px;

        .temp {
          font-weight: 200;
          font-size: 50px;
          line-height: 50px;
        }

        .description {
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
    .right {
      padding: 10px;
      display: flex;
      flex: 1;
      justify-content: space-around;
      align-items: flex-start;
    }

    .icon {
      font-size: 25px;
      padding-bottom: 8px;
    }
    .label {
      font-size: 14px;
      line-height: 14px;
      color: #d0d0d0;
    }
    .number {
      font-size: 14px;
      span {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .current-weather {
    .container {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    h4 {
      margin: 0.5rem 1rem;
    }

    .weather-details {
      background: none;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      border-radius: 0;

      .left {
        align-items: center;
        padding: 0;
        margin: 0.5rem 1rem;
      }

      .right {
        display: flex;
        justify-content: space-around;
        .icon {
          font-size: 22px;
        }
        .label {
          font-size: 12px;
        }
        .number span {
          font-size: 10px;
        }
      }
    }
  }
}
