footer {
  color: white;
  font-size: 16px;
  padding-top: 2rem;
  letter-spacing: 0.5px;
  border-top: 1px solid #222;

  p {
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    margin-bottom: 0.5rem;
    font-size: 14px;
    &.definition {
      margin-bottom: 1rem;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}
