footer {
  color: white;
  font-size: 16px;
  padding: 1rem 0;
  letter-spacing: 0.5px;
  background-color: #363636;

  div {
    color: #ccc;
    font-size: 12px;
    &.definition {
      margin-bottom: 1rem;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

@media screen and (max-width: 960px) {
  footer {
    div {
      margin-left: 20px;
    }
  }
}
