footer {
  color: white;
  font-size: 16px;

  .container {
    margin: 0 auto;
    max-width: 960px;
    padding: 1rem 2rem;
    vertical-align: middle;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    margin-bottom: 0.5rem;
    font-size: 14px;
  }

  span {
    font-size: 14px;
  }
}
